.about-me {
  padding: 5px 20px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.about-intro {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  text-align: left;
}
/* 
.about-img {
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

*/

.about-text-and-toggles {
  flex: 1;
  min-width: 280px;
  max-width: 600px;
}

.about-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #444444e0;
  text-align: justify;
  margin-top: 100px;
  margin-bottom: 30px;
}

.main-facts {
  font-weight: 600;
  line-height: 3;
  color: #6e3d62;
  font-family: "Klee One";
  margin-bottom: 3px;
  font-size: 2rem;
  align-items: center;
}

.extra-facts {
  font-size: 1.4rem;
  font-weight: 600;
  color: #5e3c56;
  padding-bottom: 4%;
}

/* Toggle Section */

.toggle-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.toggle-item {
  flex: 1 1 calc(50% - 20px);
  border-radius: 10px;
  padding: 12px 16px;
  transition: background-color 0.3s;
  min-width: 250px;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.toggle-item:hover {
  background-color: none;
}

.toggle-question {
  font-weight: 600;
  color: #6e3d62;
  margin-bottom: 8px;
  font-size: 1.3rem;
  transition: color 0.3s ease;
  font-family: "Klee One";
}

.toggle-question.open {
  color: #f48fb1;
}

.toggle-answer {
  max-height: 0;
  overflow: hidden;
  font-size: 0.95rem;
  color: #555;
  transition: all 0.4s ease;
  opacity: 0;
  transform: translateY(-10px);
  font-size: 1.3rem;
}

.toggle-answer.show {
  max-height: 200px;
  opacity: 1;
  transform: translateY(0);
  margin-top: 8px;
}


.toggle-question:hover {
  color: #f48fb1 !important;
}

.toggle-icon {
  margin-right: 1px;
  transition: transform 0.3s ease;
  font-size: 1rem;
  color: #f48fb1 !important;
  margin-left: 8px;
  margin-right: 4px;
  font-size: 1rem;
  color: #e91e63;
  transition: transform 0.3s ease;
}



.wiggle {
  display: inline-block;
  animation: wiggle 1.5s infinite;
  font-size: 2rem;
}

.img-button img {
  border: #ffcada solid 60px;
  border-radius: 1px;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

.rotate {
  display: inline-block;
  animation: rotate 5s linear infinite;
  margin-right: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .about-intro {
    flex-direction: column;
    align-items: center;
  }

  .about-img {
    width: 100%;
    max-width: 300px;
  }

  .toggle-item {
    flex: 1 1 100%;
  }

  .button-link {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  .extra-facts {
    font-size: 1.2rem;
  }
}
