.article-details {
  padding: 40px 20px;
  max-width: 900px;
  margin: 0 auto;
  font-family: "Inter";
}

.article-details h1 {
  font-size: 2.5rem;
  font-family: "Klee One";
  color: #474747;
  text-align: center;
  margin-bottom: 20px;
}

.date-detail {
  font-size: 1rem;
  color: #a2a1a1;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 50px;
  font-family: "Klee One";
}

.article-detail-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 30px;
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}


.content-detail {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #555;
  text-align: justify;
  margin-top: 20px;
}

.content-detail p {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .article-details {
    padding: 20px 10px;
  }

  .article-details h1 {
    font-size: 2rem;
  }

  .date-detail {
    font-size: 0.9rem;
  }

  .content-detail {
    font-size: 1rem;
  }
}
