.mailing-section {
  max-width: 600px;
  margin: 4rem auto;
  padding: 2rem 1rem;
  scroll-margin-top: 100px;
}

.content-of-mailing-list {
  text-align: center;
  background: #fff0f7;
  padding: 30px 20px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(156, 39, 176, 0.15);
  margin-left: 1px;
  margin-right: 1px;
}
.mailing-img {
  width: 200px;
  animation: pulse 1.6s ease-in-out 1.5s 2;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    filter: drop-shadow(0 0 0px #f48fb1);
  }
  50% {
    transform: scale(1.07);
    filter: drop-shadow(0 0 10px #f48fb1aa);
  }
}

.mail-flower {
  display: inline-block;
  animation: rotate 5s linear infinite;
  font-size: 1.8rem !important;
  position: relative;
  top: 0.2rem;
  opacity: 0.9;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mailing-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.mailing-form input {
  font-size: 1rem;
  border: 2px solid #f8bbd0;
  border-radius: 8px;
  outline: none;
  width: 60%;
}

.mailing-form button {
  background-color: rgb(250, 102, 171);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.mailing-form button:hover {
  background-color: #fed3e4;
  color: rgb(48, 46, 46);
}

.subscribe-info {
  justify-content: space-around;
  gap: 20px;
}

.subscribe-info p {
  font-family: "Playpen Sans" !important;
  font-size: 1.5rem !important;
  color: rgb(58, 57, 57) !important;
  font-weight: 300;
}

.subscribe-info span {
  font-family: "Sunshiney";
  font-weight: 50;
  font-size: 2.5rem;
  color: rgb(244, 127, 181) !important;
}

.loading-flower {
  font-size: 2.5rem;
  display: inline-block;
  animation: rotate 5s linear infinite;
  position: relative;
  opacity: 0.9;
}

.subscribe-popUp,
.subscribe-popUp-warning-2 {
  text-align: center;
  background: #fff0f7;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(156, 39, 176, 0.15);
  font-size: 1.2rem;
  width: 500px;
  font-family: "Inter";
}

.subscribe-popUp-warning-2 {
  background-color: rgb(253, 253, 226) !important;
  font-family: "Inter";
}

.subscribe-popUp-warning-2 .subscribed-btn {
  background-color: #ffcddf;
  margin-top: 0;
}

.subscribe-popUp-warning-2 .subscribed-btn:hover {
  background-color: #fce0eb;
}

.subscribed-modal-content {
  margin-top: 50px !important;
}

.subscribed-img {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 70px;
  height: 50px;
  transform-origin: center center;
  animation: pulseScale2 ease-in-out 2.5s infinite;
}

.subscribed-text {
  color: #585656;
  margin-bottom: 0;
}

.subscribed-btn {
  background: #f5a9d4;
  border: none;
  padding: 10px 50px;
  font-family: "Pangolin", cursive;
  border-radius: 8px;
  color: #2a2a2c;
  margin: 20px auto;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  font-size: 1.2rem;
}

.subscribed-btn:hover {
  background-color: rgb(249, 208, 229);
}

@keyframes pulseScale2 {
  0%,
  100% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
}
