.hero {
  position: relative;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.content {
  animation: fadeInUp 1.8s ease-in-out;
  z-index: 2;
}

.avatar {
  width: 200px !important;
  height: 210px !important;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
  margin-bottom: 20px;
  animation: float 3s ease-in-out infinite;
  animation-delay: 4s;
  background-color: linear-gradient(135deg, #2c2c54, #6a5acd);
}

.avatar:hover {
  animation: none;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
  font-family: "Pangolin";
}

.highlight {
  color: pink !important;
}

.heart {
  animation: shine 1.7s ease-in-out infinite;
}

@keyframes shine {
  0%,
  100% {
    filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 4px #fffa) brightness(1.2);
    transform: scale(1);
  }
  50% {
    filter: drop-shadow(0 0 6px #fff) drop-shadow(0 0 10px #fffb)
      brightness(1.8);
    transform: scale(1.2);
  }
}

.subtitle {
  font-size: 1.2rem;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.85);
}

.buttons {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
  margin-top: 2rem;
}

.buttons .btn:nth-child(1) {
  animation-delay: 3s;
}

.buttons .btn:nth-child(2) {
  animation-delay: 3.7s;
}

.buttons .btn:nth-child(3) {
  animation-delay: 4.3s;
}

.buttons .btn:nth-child(4) {
  animation-delay: 5s;
}

.btn {
  padding: 10px 25px;
  width: 130px;
  margin: 10px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background: white;
  color: #6b38ae;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  animation: float 4s ease-in-out infinite;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(white 1px, transparent 1px);
  background-size: 40px 40px;
  animation: twinkle 10s linear infinite;
  opacity: 0.3;
  z-index: 0;
}

@keyframes twinkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 40px;
  }
}
