.navbar {
  width: 100% !important;
  margin: 0 auto; 
  display: flex;
  justify-content: center;
  gap: 80px;
  z-index: 1000;
  padding-top: 15px !important;
  min-height: 40px;
}

.navbar button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #e3cdffd4;
  transition: color 0.3s;
  font-size: 1.1rem;

}

.navbar button:hover {
  color: pink;
}

@media (max-width: 768px) {
  .navbar {
    gap: 30px;
    padding: 8px 12px;
  }

  .navbar button {
    font-size: 0.95rem;

  }
}

@media (max-width: 480px) {
  .navbar {
    gap: 20px;
  }

  .navbar button {
    font-size: 0.85rem;
  }
}

