.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.385);
  backdrop-filter: blur(10px);
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.navbar button {
  background: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #6b38ae;
  transition: color 0.3s;
}

.navbar button:hover {
  color: #a179e9;
}
