.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 7px;
  background: none;
  backdrop-filter: blur(10px);
  padding: 10px 20px;
  display: flex;
  justify-content:center;
  gap: 80px;
  z-index: 1000;
 }

.navbar button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #e3cdffd4;
  transition: color 0.3s;
  font-size: 1.1rem;
}

.navbar button:hover {
  color: pink;
}
