body {
  margin: 0;
  padding: 0;
  font-family: "Klee One", sans-serif;
  background: linear-gradient(135deg, #2c2c54, #6a5acd);
  overflow: hidden;
  height: 100vh;
}

button {
  font-family: "Klee One", sans-serif;
}
