html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #2c2c54; 
  font-family: "Klee One", sans-serif;
}

.App {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: linear-gradient(135deg, #2c2c54, #6a5acd);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.App::-webkit-scrollbar {
  display: none;
}

button {
  font-family: "Klee One", sans-serif;
}

.section {
  scroll-snap-align: start;
  height: 100vh;
}
