html, body {
  margin: 0;
  padding: 0;
}

body {
 
  font-family: "Klee One", sans-serif;
  scroll-behavior: smooth;
  height: 100vh;
}


button {
  font-family: "Klee One", sans-serif;
}

.App {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.App::-webkit-scrollbar {
  display: none;
}
.App {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.section {
  scroll-snap-align: start;
  height: 100vh;
}
