.App {
  overflow-y: auto;
}

button {
  font-family: "Klee One", sans-serif;
}

.section {
  scroll-snap-align: start;
  height: 100vh;
}

.purple-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.purple-scrollbar::-webkit-scrollbar-track {
  background: linear-gradient(135deg, #2c2c54, #6a5acd);
  border-radius: 10px;
}

.purple-scrollbar::-webkit-scrollbar-thumb {
  background: #b266ff;
  border: 2px solid #ab79f6;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.purple-scrollbar-modal::-webkit-scrollbar-track {
  background:  #f9bfe2 !important;
  border-radius: 5px !important;
}

.purple-scrollbar-modal::-webkit-scrollbar-thumb {
border-radius: 10px !important;
}