html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Klee One", sans-serif;
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden !important;
}

body.portfolio-bg {
  background: linear-gradient(135deg, #2c2c54, #6a5acd);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body.blog-bg {
  background-color: #fff8fe;
}
