body {
  margin: 0;
  padding: 0;
  font-family: "Klee One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  height: 100%;
}

body.portfolio-bg {
  background: linear-gradient(135deg, #2c2c54, #6a5acd);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body.blog-bg {
  background-color: #fff8fe;
}