.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: #3b3170;
  padding: 30px;
  border-radius: 16px;
  max-width: 600px;
  width: 90%;
  position: relative;
  animation: fadeInUp 0.4s ease;
  text-align: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-content h2,
p {
  color: rgb(40, 40, 40);
}

.modal-content h2 {
  margin-top: 30px;
  color: rgb(245, 234, 255);
}

.modal-content p {
  margin-top: 30px;
  font-family: "DM Sans", sans-serif;
  color: #e6d9ff;
  font-size: 1.3rem;
  line-height: 1.9;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  text-align: justify;
}

.tech-icon {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  transition: transform 0.3s ease;
}
.tech-icon:hover {
  transform: scale(1.2);
}
.definity-icon {
  height: 25px !important;
  width: 35px !important;
  position: relative;
  top: 2px;
}

.close-button {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 18px;
  width: 33px !important;
  height: 30px !important;
  padding: 0 !important;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 30px !important;
}

.tech-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.tech-icon {
  width: 32px;
  height: 32px;
}

.modal-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
}
.modal-buttons .btn {
  padding: 8px 20px;
  width: 119px;
  margin: 10px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background: #fddcf0;
  color: rgb(37, 37, 37);
  text-decoration: none;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: row;
  justify-content: center;
}

.modal-buttons .btn:hover {
  background: #fff9fd;
}
