.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 20px;
  overflow-y: auto;
}

.modal-content {
  background-color: #b18edf;
  box-shadow: 0 4px 15px rgba(255, 182, 193, 0.6);
  position: relative !important;
  padding: 30px;
  border-radius: 16px;
  max-width: 600px;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  animation: fadeInUp 0.4s ease;
  text-align: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  -webkit-overflow-scrolling: touch;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-content p {
  color: rgb(41, 40, 40) !important;
}

.modal-content h2 {
  margin-top: 30px;
  color: #492682;
  font-size: 2.5rem;
  transform: translateY(20px);
  opacity: 0;
  font-family: "Pangolin";
  animation: fadeInDown 1s ease forwards;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.modal-content p {
  margin-top: 30px;
  font-family: "DM Sans", sans-serif;
  color: #363438;
  font-size: 1.4rem;
  line-height: 1.9;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  text-align: justify;
}

.tech-icon {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  transition: transform 0.3s ease;
}
.tech-icon:hover {
  transform: scale(1.2);
}
.definity-icon {
  height: 25px !important;
  width: 35px !important;
  position: relative;
  top: 2px;
}

.close-button {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 18px;
  width: 33px !important;
  height: 30px !important;
  padding: 0 !important;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 30px !important;
  background-color: #e6d9ff !important;
}

.close-button:hover {
  background-color: #fddcf0 !important;
}

.tech-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.tech-icon {
  width: 32px;
  height: 32px;
}

.modal-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 60px;
}
.modal-buttons .btn {
  padding: 8px 20px;
  width: 150px;
  height: 50px !important;
  margin: 10px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background: #e6d9ff;
  color: rgb(37, 37, 37);
  text-decoration: none;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: row;
  justify-content: center;
  font-size: 1.4rem;
}

.modal-buttons .btn:hover {
  background: #fddcf0;
}
